body{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
    transition: 0.5s ease-in-out;
}
.navbar{
    background-color: #0d5dad;
    padding: 20px 30px;
    margin: 40px 0;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: change 20s linear infinite;
}
#sidebar-image{
    position: fixed;
    top: 130px;
    right: 0px;
}
.csssidebar{
    position: absolute;
    background-color: rgb(54, 51, 51);
    padding: 10px;
    height: 60%;
    width: 100%;
    top: 200px;
    right: -110%;
    transition: 0.4s;
    text-align: center;
    transition: 0.8s;
    opacity: 0.8;
}
.csssidebar a{
    margin-top: 20px;
    display: block;
    padding: 8px 0px;
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.csssidebar a:hover{
    background-color: rgb(26, 25, 25);
}
.csssidebar hr{
    width: 100%;
    color: white;
    margin-top: 0px;
}

@keyframes change{
    0%{background-color: #e3dddd;}
    25%{background-color: rgb(210, 235, 141)}
    
}
.animation {
    width: 200px;
    height: 200px;
    box-shadow: 16px 14px 20px #0000008c;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(45deg,rgb(25, 24, 25),rgb(89, 221, 233))
}
.animation::before{
    content: "";
    background-image: conic-gradient(
        #373a07 20deg,
        transparent 
    );
    width: 150%;
    height: 150%;
    position: absolute;
    animation: rotate 2s linear infinite;
}
.animation::after{
    content: "SHOE SHOP";
    width: 190px;
    height: 190px;
    background: #101010;
    position: absolute;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 5px;
    box-shadow: inset 20px 20px 20px #0000008c;
    animation-name: text;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
@keyframes text{
    0%{color: rgb(172, 23, 23);}
    25%{color: aqua;}
    50%{font-size: 30px;color: red;}
    100%{color:yellow;}
}

.cart{
    background-color: white;
    color: #212529;
    border-radius: 10px;
    position: relative;
    right: 70px;
    padding: 3px;
}
.bi-cart-fill {
    font-size: 35px;
    cursor: pointer;;
}
.cartcount{
    position: absolute;
    top: -28px;
    right: -22px;
    background-color: red;
    padding: 9px;
    color: white;
    border-radius: 5px;
}

.shoeshop{
    display: grid;
    grid-template-columns: repeat(5,240px);
    gap: 25px;
    justify-content: center;
    background-color: #f1f79f;
    border: 1px solid black;
    border-radius: 10px;
}

@media screen and (max-width:1024px) {
    .shoeshop{
        grid-template-columns: repeat(3,200px);
    }
    .about a{
        margin-right: 100px;
    }
}
@media screen and (max-width:768px) {
    .shoeshop{
        grid-template-columns: repeat(2,200px);
    }
    .about a{
        margin-right: 100px;
    }
}

@media screen and (max-width:500px) {
    .shoeshop{
        grid-template-columns: repeat(1,200px);
    }
    .about a{
        margin-right: 100px;
    }
}

.shoename:hover{
    background-color:#790d0d;
    color: white;
    transition: 0.3s ease-in-out;
}
.shoename:hover .bi-plus-lg{
    background-color: white;
    color: #212529;
}
.shoename:hover .bi-dash{
    background-color: white;
    color: black;
}
.items{
    overflow: hidden;
    border:1px solid black;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.price{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 5px;
}
.buttons{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    gap: 7px;
    margin-bottom: 10px;
}
.bi-dash{
    color: #f7f2f3;
    background-color:#212529;
}
.bi-plus-lg{
    background-color: #212529;
    color: #fff;
}
h3{
    text-align: center;
}
.footer{
    background-color: #674d3c;
    width: 100%;
    height: 300px;
    margin-top: 20px;
    padding: 20px 50px;
    display: flex;
    gap: 250px;
}
.footer h3{
    font-size: 27px;
    color: white;
    margin-top: 120px;
}
.socialmedia{
    position: relative;
    top: 30px;
}
.socialmedia a{
    text-decoration: none;
    padding: 10px;
    color:#fbf7f7;
    font-size: 17px;
    font-weight: bold;
    display: block;
}
.bi-facebook,.bi-linkedin,.bi-youtube,.bi-twitter{
    position: absolute;
    color: white;
    margin-top: -28px;
    margin-left: -15px;
    font-size: 17px;
}

.about a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px;
    font-weight: bolder;
    font-size: 17px;
}
.side-navbar ul{
 display: flex;
 text-decoration: none;
}
.side-navbar ul li {
    text-decoration: none;
}
.side-navbar ul li a{
    text-decoration: none;
    padding: 10px;
}

